##
# Author: Nitin Madhok
# Date Created: Thursday, June 25, 2015
# Date Last Modified: Friday, July 10, 2015
##


{% set adminList = [
    'admin1',
    'admin2',
] %}

{% set userList = [
    'user1',
    'user2',
    'user3',
    'user4',
] %}
